<div style="direction: rtl; text-align: center; width: 100%;  border: 3px solid black; margin-top: -3px;
">
  <br>
  <div style="margin: auto; font-size: 25px;width: 70%">
    اشترك في النشرة البريدية وهيوصلك موضوع جديد كل جمعة 🔥
  </div>
  <br>
  <div>
    <input type="text"
           style="padding: 5px; font-size: 20px; border: 2px solid black; border-radius: 9px; height: 40px; font-family: Yasser, serif; width: 250px"
           placeholder="حط ايميلك هنا ودوس اشترك">
    &nbsp;

    <button
      style="
      cursor:pointer ;
      font-size: 20px; border: 2px solid black; border-radius: 9px; height: 40px; font-family: Yasser, serif; width: 70px; background-color: #86DCAD">
      اشترك
    </button>
  </div>
  <br>
</div>
