
<div class="article-item" [ngClass]="article?'pointer-cursor-active':''" style="direction: rtl; margin-top: 30px; display: flex; flex-wrap: wrap-reverse; justify-content: center;" >

  <div class="article-data" style="display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding: 10px" [ngClass]="article?'':'loading'">

    <div class="title" style="font-size: 20px">
      {{article?.article_title}}
    </div>

    <div class="preview-text gray-text" style="max-width: 90%">

      {{article?.preamble}}
    </div>
  </div>


  <div class="article-image"
       [ngClass]="article?'':'loading'"
       [ngStyle]="{

      'background-image': 'url('+environment.GraphQLServerURL+article?.main_image?.data?.attributes?.url+')', 'background-size':'cover', 'background-position': 'center'}">

  </div>

</div>

<div *ngIf="article" style="border-bottom: 1px solid #d3d3d3;margin: auto; margin-top: 25px"></div>
