<div
  class="full-width centered-text "
  style="
  margin-top: 40px;
  border-top: 1px solid var(--lightgray);
   margin-bottom: 40px;
   border-bottom: 1px solid var(--lightgray);
">
  <br>
  <br><br>
  <div
    class="Baloo"
    style="margin: auto; font-size: 20px;width: 70%">
    اشترك في النشرة البريدية ليصلك كل موضوع جديد 👩🏻‍🍳

  </div>
  <br>
  <div style="display: flex; justify-content: center; flex-wrap: wrap">


      <input type="text"
             [(ngModel)]="subscriberEmail"
             id="email-input-box"
             placeholder="ادخل بريدك الالكتروني"
      >
      &nbsp;

      <input
        id="subscribe-button"
        type="button"
        (click)="subscribeToNewsletter($event)"
        class="Baloo simple-back-border"
        style="
      cursor:pointer ;
      font-size: 20px; height: 40px; width: 70px; background-color: black; color: white"
      value="اشترك"/>




  </div>

  <div style="height: 30px">
    <div *ngIf="showResult" class="Baloo" style="padding: 5px;">

      {{this.resultMessage}}

    </div>
    <div *ngIf="loading" class="Baloo" style="padding: 5px;">
      <div class="lds-dual-ring"></div>
    </div>
  </div>


  <br>
  <br><br>
</div>
