<div
  class="full-width centered-text "
  style="
  margin-top: 40px;
  border-top: 1px solid var(--lightgray);
   margin-bottom: 40px;
   border-bottom: 1px solid var(--lightgray);
">
  <br>
  <br><br>
  <div
    class="Shafigh"
    style="margin: auto; font-size: 20px;width: 70%">
    اشترك في النشرة البريدية ليصلك موضوع جديد كل جمعة 👩🏻‍🍳

  </div>
  <br>
  <div style="display: flex; justify-content: center">


      <input type="text"
             [(ngModel)]="subscriberEmail"
             class="email-input-box"
             placeholder="ادخل بريدك الالكتروني"
      >
      &nbsp;

      <input
        type="button"
        (click)="subscribeToNewsletter($event)"
        class="Shafigh simple-back-border"
        style="
      cursor:pointer ;
      font-size: 20px; height: 40px; width: 70px; background-color: white"
      value="اشترك"/>




  </div>
  <div *ngIf="showResult" class="Shafigh" style="padding: 5px;">
    {{this.resultMessage}}
  </div>

  <br>
  <br><br>
</div>
