/*.MenuIcon {*/
/*  transition: transform .01s;*/
/*}*/

/*.MenuIcon:hover {*/
/*  transform: rotate(10deg);*/
/*}*/

.head-menu-item {
  cursor: pointer;
}
@media screen and (min-width: 499px) { /*desktop*/
.blog-title {
  font-size: 64px;
}
  .blog-motto {
    font-size: 28px;
}

  .utility-bar {
    flex-direction: row;
  }

  #search-box {

  }


}

@media screen and (max-width: 500px) { /*mobile*/

  .blog-title {
    font-size: 30px;
  }
  .blog-motto {
    font-size: 14px;
  }

  .utility-bar {
    flex-direction: row;
    justify-content: center;
  }
}

a {
  cursor: pointer;
}
.is-active {
  color: black;
}
