<div class="Shafigh" style="width: 100%; direction: rtl; margin-top: 70px">

  <div

    style="width: 70%; max-width: 800px; margin: auto; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
    <div style="font-size: 25px">
      جميع المقالات
    </div>


  </div>

  <div class="articles-list" style="margin: auto;width: 70%; max-width: 800px; min-height: 900px">


<div *ngIf="articles==undefined">
  <article-list-item *ngFor="let n of [0,1,2,3]"></article-list-item>

</div>
    <article-list-item
      routerLink="/article/{{article.id}}"
      *ngFor="let article of articles" [article]="article">

    </article-list-item>

</div>


</div>
<br>
<ngb-pagination [collectionSize]="this.totalPages" [pageSize]="pageSize" [(page)]="page" (pageChange)="changePage()" [rotate]="true" aria-label="Default pagination"></ngb-pagination>

<br><br><br>

