<div style="width: 100%; direction: rtl; margin-top: 70px">

  <div style="width: 70%; max-width: 800px; margin: auto; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
    <div style="font-size: 25px">
      جميع المقالات
    </div>

    <div style="display: flex; align-items: center">
        <input type="text" class="input-box search-box;" style="padding-left: 30px; padding-right: 10px;" placeholder="ابحث">
        <div class="input-box-span" style="height: 100%; ">
          <fa-icon [icon]="faSearch" style=" margin-right: -30px; background-color: white"></fa-icon>
        </div>

    </div>
  </div>

  <div class="articles-list" style="margin: auto;width: 70%; max-width: 800px; ">




    <article-list-item></article-list-item>

</div>


</div>
