<div class="Baloo" style="width: 100%; direction: rtl; margin-top: 70px">

  <div

    style="width: 70%; max-width: 800px; margin: auto; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
    <div style="font-size: 25px">
      جميع المقالات
    </div>


  </div>

  <articles-list [loading]="articles==undefined" [articles]="articles"></articles-list>


</div>
<br>
<ngb-pagination [collectionSize]="this.totalPages" [pageSize]="pageSize" [(page)]="page" (pageChange)="changePage()" [rotate]="true" aria-label="Default pagination"></ngb-pagination>

<br><br><br>

