<meta property="og:title" content='{{this.title}}'>
<meta property="og:image" content="{{this.main_image}}">
<meta property="og:description" content="Personal site of Heila Al-mogren, a JS & Flutter Dev.">
<meta name="description" content="Personal site of Heila Al-mogren, a JS & Flutter Dev.">

<div style="width: 100%; box-sizing: border-box; padding: 30px">
  <div style="direction: rtl; text-align: right; width: 100%;box-sizing: border-box; margin: auto;
padding: 30px; border-radius: 30px;">


    <div class="title Boutros-Bold" style="font-size: 44px; text-align: center; max-width: 600px; margin: auto;">
      {{this.title}}

    </div>

    <div class="Shafigh gray-text centered-text" style="font-size: 15px; border-bottom: 1px solid var(--lightgray); max-width: 600px; margin: auto; padding-bottom: 5px">
      <br>
      {{publish_date}}
    </div>
    <br>

    <div
      [innerHTML]="(preamble || '') "
      class="Boutros-Bold gray-text innertext body-text"
    >
    </div>

    <br>
  <div
    [innerHTML]="body"
    class="Boutros-Bold gray-text innertext body-text"
    >
  </div>


  </div>
</div>


