
.pointer-cursor-active {
  cursor: pointer;
}

@media screen and (min-width: 499px) { /*desktop*/

  .article-item {
    flex-direction: row;
    height: 200px
  }

  .article-data,.article-image {
    height: 200px
  }
  .article-data {
    width: 70%
  }

  .article-image {
    width: 30%
  }




}

@media screen and (max-width: 500px) { /*mobile*/
  .article-item {
    height: max-content;
  }
  .article-data, .article-image {
    width: 100%
  }

  .article-data, .article-image {
    height: 200px
  }

}


