<div class="article-item" style="direction: rtl; margin-top: 30px; display: flex; flex-wrap: wrap-reverse">

  <div class="article-data" style="display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding: 10px">

    <div class="title" style="font-size: 20px">
      {{article?.article_title}}
    </div>

    <div class="preview-text gray-text" style="max-width: 90%">

      {{article?.preamble}}
    </div>
  </div>


  <div class="article-image"  [ngStyle]="{

      'margin-bottom':'20px', 'background-image': 'url('+article?.main_image+')', 'background-size':'cover', 'background-position': 'center'}">

  </div>

</div>
