<div class="article-item" style=" border: 3px solid black; direction: rtl; margin-top: 30px; display: flex; flex-wrap: wrap-reverse">

  <div class="article-data" style="display: flex; flex-direction: column; justify-content: center; box-sizing: border-box; padding: 10px">

    <div class="title" style="font-size: 20px">
      عنوان المقالة
    </div>

    <div class="preview-text" style="max-width: 90%">

      هل سبق وأن فكرت أثناء تحميل موقع أو ملف من الإنترنت أين كان هذا الملف قبل أن تقوم بتحميله على جهازك؟...
    </div>
  </div>

  <div class="article-image" style="">
    image
  </div>

</div>
