<div class="main_article_wrapper full-width">

  <div
    class="main_article_text Boutros-Bold"
    [ngClass]="article?'':'loading'"
  >
    <div style="border-bottom: 1px solid var(--gray); width: fit-content; margin-bottom: 10px; font-size: 27px"
    *ngIf="article">
      الأخيرة
    </div>
    <div style="font-size: 47px;">
      {{article?.article_title}}
&nbsp;
    </div>
    <br>
    <div style="font-size: 27px; color: var(--gray)">
      {{article?.preamble}}
    </div>


  </div>


  <div
    class="main_article_image"
    [ngClass]="article?'':'loading'"
    [ngStyle]="{'background-image': 'url('+article?.main_image+')', 'background-position': 'center'}">

  </div>


</div>



